<h2>Add a new Client</h2>
<div class="clientForm">
  <form [formGroup]="clientForm" (ngSubmit)="onSave()">
    <p>
      <label>First Name</label>
      <input type="text" name="firstnameTxt" formControlName="firstName" required/>
    </p>

    <p>
      <label>Last Name</label>
      <input type="text" name="lastnameTxt" formControlName="lastName" required/>
    </p>

    <p>
      <label>Email</label>
      <input type="email" name="emailTxt" formControlName="email" required/>
    </p>

    <p>
      <label>Telephone</label>
      <input type="tel" name="telephoneTxt" formControlName="telephone" />
    </p>

    <p>
      <label>Company</label>
      <input type="text" name="companyTxt" formControlName="company" required/>
    </p>

    <p>
      <button type="submit" [disabled]="!clientForm.valid">Save</button>
    </p>
  </form>
</div>
